{% extends 'PegasusTestBundle::layout.html.twig' %}
{% block title %}test1 --{% endblock %}
{% block stylesheets %}
    {% stylesheets '@PegasusTestBundle/Resources/public/css/test1.css' filter='yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block content %}
      <h1>Input</h1>
      <div>testtest2</div>
      <a href="{{ path('_test1') }}">test1</a>
      <a href="{{ path('_welcome') }}">welcome page</a>
{% endblock %}