{% extends 'PegasusTestBundle::layout.html.twig' %}
{% block title %}test1 --{% endblock %}
{% block stylesheets %}
    {% stylesheets '@PegasusTestBundle/Resources/public/css/test1.css' filter='yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block content %}
      <h1>Test1</h1>
      <p>request: {{ app.request }}</p>
      <p>user: {{ app.user }}</p>
      <div>testtest2</div>
     <img src="{{ asset('bundles/pegasustest/images/koala.jpg') }}" width="30%" alt="koala" />
{% endblock %}