{% extends '::base.html.twig' %}
{% block navbar %}
<ul>
    <li><a href="{{ path('_welcome') }}">Welcome</a></li>
    <li><a href="{{ path('_test1') }}">test1</a></li>
    <li><a href="{{ path('_testmails') }}">mail</a></li>
</ul>

{% endblock %}